body {
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #eff1f5;
  color: #2b303b;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  cursor: default;
}
ul {
  list-style-type: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4vh;
  margin-left: 0;
  padding-left: 0;
}

.static-h {
  font-size: 4vh;
  font-weight: 300;
}

.static-h:hover {
}
a, a:hover, a:active, a:visited, a:focus {
  /* text-decoration:none; */
}

body a {
  color: #2b303b;
  padding-bottom: 2px;
  margin-bottom: 2px;
}

a:hover {
  padding-bottom: 2px;
  margin-bottom: 2px;
  color: #2b303b;
  text-decoration: none;
  margin-bottom: 1%;
  border-bottom: 1px solid black;
}

a:visited {
  text-decoration: none;
  color: #2b303b;
}
li {
  margin: 2px;
}
.unimp {
  font-size: 2vh;
}
.unimp > li > a:hover {
  font-size: 2vh;
}


