---
import Bubble from "../components/Bubble.astro";

const links = [
  {
    icon: "fa-github",
    name: "GitHub",
    link: "https://github.com/g-suraj",
    border: "border-base09",
  },
  {
    icon: "fa-linkedin",
    name: "LinkedIn",
    link: "https://www.linkedin.com/in/g-suraj",
    border: "border-base08",
  },
  {
    icon: "fa-address-card",
    name: "Resume",
    link: "https://suraj.fyi/cv",
    border: "border-base0C",
  },
];
---

<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>

<style></style>

<html>
  <body class="bg-base00 flex h-dvh">
    <div class="m-auto w-11/12 lg:w-2/4">
      <div class="mx-auto my-10">
        <Bubble index="-1">
          <div class="flex flex-row items-center">
            <img
              class="flex-basis-3 h-20vh w-20vh border-4 border-base0C rounded-full"
              src="/me.png"
              alt="It's me"
            />
            <div class="flex-grow mx-8">
              <div class="text-6xl my-1">Hi, I'm Suraj</div>
            </div>
          </div>
        </Bubble>
      </div>

      <div class="grid grid-cols-3 gap-2 text-center">
        {
          links.map((link, index) => {
            return (
              <Bubble index={index} link={link["link"]} border={link["border"]}>
                <div class="text-4xl lg:text-xl">
                  <i class:list={["fa", link["icon"]]} /> {link["name"]}
                </div>
              </Bubble>
            );
          })
        }
      </div>
    </div>
  </body>
</html>
