body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 2em;
}

.main {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}

p {
  /* list-style: none; */
  padding: 0;
  margin: 0;
  /* padding: 10px; */
  text-align: justify;
  margin: 1%;
}

p a {
  color: black;
  border-bottom: 1px solid #bdbdbd;
}

a:hover {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #262626;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

a:-webkit-any-link {
  color: black;
  text-decoration: none !important;
}

.heading {
  border-bottom: 1px solid #282828;
  text-align: left;
}